

{% include "breadcrumbs" %}

{% if page.headline.size > 0 %}
<h2 class="headline">{{ page.headline }}</h2>
{% endif %}

<div id="content">
  
  <div id="intro" class="intro">
    <div class="text-content">
      {{ page.basic.content }}
    </div>
  </div>
  
  <div class="row-fluid">
    <div class="span6">
      <ul>
        <li><a href="#1">Member Rating</a></li>
        <li><a href="#2">Reasons for Joining</a></li>
        <li><a href="#3">Number of Years a Member</a></li>
        <li><a href="#4">Status</a></li>
        <li><a href="#5">RPCV Group Membership</a></li>
        <li><a href="#6">How has RPCV/W Helped</a></li>
        <li><a href="#7">Event Attendance</a></li>
        <li><a href="#8">Information Channels</a></li>
        <li><a href="#9">Programming Focus</a></li>
      </ul>
    </div>
    <div class="span6">
      <ul>
        <li><a href="#10">Age Range</a></li>
        <li><a href="#11">Gender</a></li>
        <li><a href="#12">Relationship Status</a></li>
        <li><a href="#13">Parental Status</a></li>
        <li><a href="#14">Education Level</a></li>
        <li><a href="#15">Employment Status</a></li>
        <li><a href="#16">Langauge Count</a></li>
        <li><a href="#17">Peace Corps Service</a></li>
        <li><a href="#18">Job Sector Interest</a></li>
      </ul>
    </div>
  </div>
  
  <div class="row-fluid">
    <div class="span12"><!--How do you feel that RPCV/W is serving you as member?-->
      <iframe id="1" class="scrollspy" height=350 width=500 src="https://docs.google.com/spreadsheets/d/1RoowxIzdYDFDf6HIXh_5WQg4m8YzMwHx9hqHJfS8l1U/pubchart?oid=1512361551&amp;format=interactive" seamless frameborder=0 scrolling=no></iframe>
    </div>
    <div class="span12"><!-- What are the primary reasons you joined RPCV/W?-->
      <iframe id="2" class="scrollspy" height=350 width=500 src="https://docs.google.com/spreadsheets/d/1RoowxIzdYDFDf6HIXh_5WQg4m8YzMwHx9hqHJfS8l1U/pubchart?oid=127175758&amp;format=interactive" seamless frameborder=0 scrolling=no></iframe>
    </div>
  </div>
  
  <!-- How long have you been involved with RPCV/W?-->
  <iframe id="3" class="scrollspy" height=350 width=600 src="https://docs.google.com/spreadsheets/d/1RoowxIzdYDFDf6HIXh_5WQg4m8YzMwHx9hqHJfS8l1U/pubchart?oid=1112392934&amp;format=interactive" seamless frameborder=0 scrolling=no></iframe>
  
  <div class="row-fluid">
    <div class="span12"><!--What is your current membership status?-->
      <iframe id="4" class="scrollspy" height=350 width=500 src="https://docs.google.com/spreadsheets/d/1RoowxIzdYDFDf6HIXh_5WQg4m8YzMwHx9hqHJfS8l1U/pubchart?oid=1728637769&amp;format=interactive" seamless frameborder=0 scrolling=no></iframe>
    </div>
    <div class="span12"><!-- Do you belong to any other RPCV groups?-->
      <iframe id="5" class="scrollspy" height=350 width=500 src="https://docs.google.com/spreadsheets/d/1RoowxIzdYDFDf6HIXh_5WQg4m8YzMwHx9hqHJfS8l1U/pubchart?oid=848882430&amp;format=interactive" seamless frameborder=0 scrolling=no></iframe>
    </div>
  </div>
  <!-- How has RPCVW helped you?-->
  <iframe id="6" class="scrollspy" height=400 width=600 src="https://docs.google.com/spreadsheets/d/1RoowxIzdYDFDf6HIXh_5WQg4m8YzMwHx9hqHJfS8l1U/pubchart?oid=1754246840&amp;format=interactive" seamless frameborder=0 scrolling=no></iframe>
  <!-- Around how many events did you attend this past year?-->
  <iframe id="7" class="scrollspy" height=400 width=600 src="https://docs.google.com/spreadsheets/d/1RoowxIzdYDFDf6HIXh_5WQg4m8YzMwHx9hqHJfS8l1U/pubchart?oid=760607109&amp;format=interactive" seamless frameborder=0 scrolling=no></iframe>
  <!-- How do you stay informed?-->
  <iframe id="8" class="scrollspy" height=400 width=800 src="https://docs.google.com/spreadsheets/d/1RoowxIzdYDFDf6HIXh_5WQg4m8YzMwHx9hqHJfS8l1U/pubchart?oid=593773651&amp;format=interactive" seamless frameborder=0 scrolling=no></iframe>
  <!-- What types of events should we focus on?-->
  <iframe id="9" class="scrollspy" height=400 width=600 src="https://docs.google.com/spreadsheets/d/1RoowxIzdYDFDf6HIXh_5WQg4m8YzMwHx9hqHJfS8l1U/pubchart?oid=202868344&amp;format=interactive" seamless frameborder=0 scrolling=no></iframe>
  
  <div class="row-fluid">
    <div class="span12"><!-- Age Range-->
      <iframe id="10" class="scrollspy" height=350 width=500 src="https://docs.google.com/spreadsheets/d/1RoowxIzdYDFDf6HIXh_5WQg4m8YzMwHx9hqHJfS8l1U/pubchart?oid=550673446&amp;format=interactive" seamless frameborder=0 scrolling=no></iframe>
    </div>
    
    <div class="span12"><!-- Gender-->
      <iframe id="11" class="scrollspy" height=350 width=500 src="https://docs.google.com/spreadsheets/d/1RoowxIzdYDFDf6HIXh_5WQg4m8YzMwHx9hqHJfS8l1U/pubchart?oid=24418558&amp;format=interactive" seamless frameborder=0 scrolling=no></iframe>
    </div>
  </div>
  
  <div class="row-fluid">
    <div class="span12"><!-- Relationship Status-->
      <iframe id="12" class="scrollspy" height=350 width=500 src="https://docs.google.com/spreadsheets/d/1RoowxIzdYDFDf6HIXh_5WQg4m8YzMwHx9hqHJfS8l1U/pubchart?oid=589900135&amp;format=interactive" seamless frameborder=0 scrolling=no></iframe>
    </div>
    <div class="span12"><!-- Parental Status-->
      <iframe id="13" class="scrollspy" height=350 width=500 src="https://docs.google.com/spreadsheets/d/1RoowxIzdYDFDf6HIXh_5WQg4m8YzMwHx9hqHJfS8l1U/pubchart?oid=478965282&amp;format=interactive" seamless frameborder=0 scrolling=no></iframe>
    </div>
    <div class="span12"><!-- Education Level -->
      <iframe id="14" class="scrollspy" height=350 width=500 src="https://docs.google.com/spreadsheets/d/1RoowxIzdYDFDf6HIXh_5WQg4m8YzMwHx9hqHJfS8l1U/pubchart?oid=804669572&amp;format=interactive" seamless frameborder=0 scrolling=no></iframe>
    </div>
    <div class="span12"><!-- Employment Status-->
      <iframe id="15" class="scrollspy" height=350 width=500 src="https://docs.google.com/spreadsheets/d/1RoowxIzdYDFDf6HIXh_5WQg4m8YzMwHx9hqHJfS8l1U/pubchart?oid=458782948&amp;format=interactive" seamless frameborder=0 scrolling=no></iframe>
    </div>
    <div class="span12"><!-- Languages Spoken-->
      <iframe id="16" class="scrollspy" height=350 width=500 src="https://docs.google.com/spreadsheets/d/1RoowxIzdYDFDf6HIXh_5WQg4m8YzMwHx9hqHJfS8l1U/pubchart?oid=2085812372&amp;format=interactive" seamless frameborder=0 scrolling=no></iframe>
    </div>
    <div class="span12"><!-- Did you serve in Peace Corps?-->
      <iframe id="17" class="scrollspy" height=350 width=500 src="https://docs.google.com/spreadsheets/d/1RoowxIzdYDFDf6HIXh_5WQg4m8YzMwHx9hqHJfS8l1U/pubchart?oid=578144032&amp;format=interactive" seamless frameborder=0 scrolling=no></iframe>
    </div>
    <div class="span12">
      <h5>Job Sector Interest</h5><!-- Job Sector Interest-->
      <iframe id="18" class="scrollspy" height=650 width=800 src="https://docs.google.com/spreadsheets/d/1RoowxIzdYDFDf6HIXh_5WQg4m8YzMwHx9hqHJfS8l1U/pubchart?oid=1747843124&amp;format=interactive" seamless frameborder=0 scrolling=no></iframe>
    </div>
  </div>
  
  
  
  {% if page.tags_count > 0 %}
  <div class="page-tags">
    {% include "page_tags" with page %}
  </div>
  {% endif %}
  
  <div class="like-page">
    <strong>Share this page!</strong>
    {% include "like_page" %}
  </div>
  
  {% if page.show_stream? %}
  {% include "page_stream" %}
  {% endif %}
  
</div>