

<div class="headline">
  <h2>{{ page.headline }}</h2>

  {% if page.has_author? %}
  {% include "page_byline" %}
  {% endif %}
</div>

<div id="content">

  <div id="intro" class="intro">
    <div class="content">
      {{ page.blog_post.content_full }}
<div class="storify"><iframe src="//storify.com/rpcvw/peace-corps-week/embed" width="100%" height=750 frameborder=no allowtransparency=true></iframe><script src="//storify.com/rpcvw/peace-corps-week.js"></script><noscript>[<a href="//storify.com/rpcvw/peace-corps-week" target="_blank">View the story "Peace Corps Week 2014" on Storify</a>]</noscript></div>
    </div>
  </div>

  {% if page.tags_count > 0 %}
  <div class="page-tags">
    {% include "page_tags" with page %}
  </div>
  {% endif %}

  <div class="like-page">
    <strong>Do you like this post?</strong>
    {% include "like_page" %}
  </div>

  {% if page.show_stream? %}
  {% include "page_stream" %}
  {% endif %}

</div>