

{% if page.headline.size > 0 %}
<h2 class="headline">{{ page.headline }}</h2>
{% endif %}

<div id="content">
  
  <p>You are following <strong>{{ request.current_signup.followings_count }}</strong> people.</p>

  
</div>

  <div class="padtop">
  {% for following in request.current_signup.followings %}
  {% assign signup = following.following %}
    <div class="people-list {% cycle 'odd', 'even' %}">
      {% include "signup_show" %}
    </div>
  {% endfor %}
  </div>
  
  {{ request.current_signup.followings | paginate prev_label: "&laquo;" next_label: "&raquo;" }}
