<div id="flash">
    <div class="notice notice clearfix">
      <div class="flash-message">Our sponsor pages may contain links to third party websites or applications. 
        RPCV/W is not liable for any loss or damage that you may experience as a result of the use or access of any service, product, application or information advertised by its sponsors. 
        If you have any questions or concerns about the products and services advertised, please contact the sponsor directly.
        Clicking on any link to a third party website constitutes your review and acceptance of this disclaimer.
        <button class="flash-close">×</button>
      </div>
    </div>
  </div>
<div class ="mobile-visible">
  {% include "breadcrumbs" %}
</div>
<!--standard stuff -->
{% if page.headline.size > 0 %}
<h2 class="headline">{{ page.headline }}</h2>
{% endif %}

<div id="content">
  
   {% subpage "donor_level_1_directory" with "featured_sponsors"%}
  
  <div class="like-page">
    <strong>Share this page!</strong>
    {% include "like_page" %}
  </div>
</div>
