<div id="flash">
    <div class="notice notice clearfix hide">
      <div class="flash-message">Our sponsor pages may contain links to third party websites or applications. 
        RPCV/W is not liable for any loss or damage that you may experience as a result of the use or access of any service, product, application or information advertised by its sponsors. 
        If you have any questions or concerns about the products and services advertised, please contact the sponsor directly.
        Clicking on any link to a third party website constitutes your review and acceptance of this disclaimer.
        <button class="flash-close">×</button>
      </div>
    </div>
  </div>
<div class ="mobile-visible">
  
</div>
<!--standard stuff -->
{% if page.headline.size > 0 %}
<h2 class="headline">{{ page.headline }}</h2>
{% endif %}

<div id="content">
  
   <section id="sponsors" class="section">
      <div class="">

        <div class="row">
          <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="spnsors-logo wow fadeInUp animated" data-wow-delay="0.1s" style="visibility: visible;-webkit-animation-delay: 0.1s; -moz-animation-delay: 0.1s; animation-delay: 0.1s;">
             
              <a href="http://www.lagreedc.com/" target="_blank" class="center"><img src="2017-sponsor-logo-lagreedc.png" alt=""><br>Lagree DC</a>
            </div>            
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="spnsors-logo wow fadeInUp animated" data-wow-delay="0.1s" style="visibility: visible;-webkit-animation-delay: 0.1s; -moz-animation-delay: 0.1s; animation-delay: 0.1s;">
             
              <a href="http://www.districttitle.com/" target="_blank" class="center"><img src="2017-sponsor-logo-district-title.png" alt=""><br>District Title</a>
            </div>            
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="spnsors-logo wow fadeInUp animated" data-wow-delay="0.1s" style="visibility: visible;-webkit-animation-delay: 0.1s; -moz-animation-delay: 0.1s; animation-delay: 0.1s;">
              <h3 class="sideheading"></h3>
              <a href="http://www.dinapaxenos.com/" target="_blank" class="center"><img src="2017-sponsor-logo-dina.png" alt=""><br>Dina Paxenos, RLAH Realtor</a>
            </div>            
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="spnsors-logo wow fadeInUp animated" data-wow-delay="0.1s" style="visibility: visible;-webkit-animation-delay: 0.1s; -moz-animation-delay: 0.1s; animation-delay: 0.1s;">
           
              <a href="https://www.firstsavingsmortgage.com/officedirectory/profile.cfm?advisorcode=292" target="_blank" class="center"><img src="2017-sponsor-logo-first-saving.png" alt=""><br>JD Teitelman, First Savings Mortgage</a>
            </div>            
          </div>
           </div>

           <div class="row">
          <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="spnsors-logo wow fadeInUp animated" data-wow-delay="0.2s" style="visibility: visible;-webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; animation-delay: 0.2s;">
           
              <a href="http://www.talemconsulting.com/" target="_blank" class="center"><img src="2017-sponsor-logo-talem-consulting.png" alt=""><br>Rachel Branaman, Talem Consulting</a>
            </div>            
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="spnsors-logo wow fadeInUp animated" data-wow-delay="0.2s" style="visibility: visible;-webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; animation-delay: 0.2s;">
          
              <a href="http://www.rlahre.com/" target="_blank" class="center"><img src="2017-sponsor-logo-rlah-real-estate.png" alt=""><br>RLAH Real Estate</a>
            </div>            
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="spnsors-logo wow fadeInUp animated" data-wow-delay="0.2s" style="visibility: visible;-webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; animation-delay: 0.2s;">
         
              <a href="https://www.statefarm.com/agent/US/MD/Silver-Spring/Leslie-Riehl-FPB611YS000" target="_blank" class="center"><img src="2017-sponsor-logo-leslie.png" alt=""><br>Leslie Riehl, State Farm® Insurance Agent</a>
            </div>            
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="spnsors-logo wow fadeInUp animated" data-wow-delay="0.2s" style="visibility: visible;-webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; animation-delay: 0.2s;">
        
              <a href="http://tax-masters.com" target="_blank" class="center"><img src="2017-sponsor-logo-mark.png" alt=""><br>Mark Monninger CFP(®), Tax-Masters, Inc.</a>
            </div>            
          </div>
        </div>

        <div class="row">
  
            <div class="col-md-3 col-sm-4 col-xs-6">
             <div class="spnsors-logo wow fadeInUp animated" data-wow-delay="0.3s" style="visibility: visible;-webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;">
    
              <a href="https://www.lyft.com/" target="_blank" class="center"><img src="2017-sponsor-logo-lyft.png" alt=""><br>Lyft</a>
            </div>            
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="spnsors-logo wow fadeInUp animated" data-wow-delay="0.3s" style="visibility: visible;-webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;">
              <h3 class="sideheading"><span></span></h3>
              <a href="https://insomniacookies.com/" target="_blank" class="center"><img src="2017-sponsor-logo-insomnia-cookies.png" alt=""><br>Insomnia Cookies</a>
            </div>            
          </div>

  
          <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="spnsors-logo wow fadeInUp animated" data-wow-delay="0.3s" style="visibility: visible;-webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;">
              <h3 class="sideheading"><span></span></h3>
              <a href="https://mandelacoffee.com/" target="_blank" class="center"><img src="2017-sponsor-logo-mandela-coffee.png" alt=""><br>Mandela Coffee</a>
            </div>            
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="spnsors-logo wow fadeInUp animated hide" data-wow-delay="0.3s" style="visibility: visible;-webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;">
              <h3 class="sideheading"><span></span></h3>
              <a href="http://www.lagreedc.com/" target="_blank" class="center"><img src="2017-sponsor-logo-first-saving.png" alt=""><br>Mark Monninger CFP(®), Tax-Masters, Inc.</a>
            </div>            
          </div>

      </div>
    </div>
  </section>
  <hr>
  <div class="like-page">
    <strong>Share this page!</strong>
    {% include "like_page" %}
  </div>
</div>
