{% if request.logged_in? %}

<p>
  {% if request.current_user.memberships.size < 1 %}

  No membership on file using the email you provided. <a href="/join" target="_blank">Join for free</a> or <a href="/contact" target="_blank">contact us</a>.

  {% else %}

<div class="padtopmore padbottommore" id="flash">
      <div class="form-wrap">
        <div class="row-fluid">   
          <div class="span3">
          </div>
        </div>
      </div>
    </div>

  Your account has {{ request.current_user.memberships.size }} membership{% if request.current_user.memberships.size > 1 %}s

  {% endif %}

   associated with it.

{% endif %}</p>

    {% for membership in request.current_user.memberships %}
    <h5>Membership #{{ forloop.index }}</h5>
    <div class="padtopmore padbottommore" id="flash">
      <div class="form-wrap">
        <div class="row-fluid">   
          <div class="span3">
            Type:<br>
          </div>
          <div class="span6">
            {{ membership.membership_type_name }}
          </div>
          <div class="span3">
            <div class="center {% case membership.status %}{% when 'active' %}success{% when 'canceled' %}info{% when 'expired' %}error{% else %}notice{% endcase %}"> {{ membership.status | capitalize }}</div>
          </div>
        </div>
        <div class="row-fluid">   
          <div class="span3">
            Start Date:<br>
          </div>
          <div class="span6">
            {{ membership.started_at | date: '%B %d, %Y' }}
          </div>
          <div class="span3">
            <div class="hide center notice {% case membership.status %}{% when 'active' %}success{% when 'canceled' %}info{% when 'expired' %}error{% else %}notice{% endcase %}"> {{ membership.status | capitalize }}</div>
          </div>
        </div>
        <div class="row-fluid">   
          <div class="span3">
            Expiration Date:<br>
          </div>
          <div class="span6">
            {% if request.current_user.membership.expires_on.size > 1 %}{{ membership.expires_on | date: '%B %d, %Y' }}{% else %}N/A{% endif %}<br>
          </div>
          <div class="span3">
            <div class="hide center notice {% case membership.status %}{% when 'active' %}success{% when 'canceled' %}info{% when 'expired' %}error{% else %}notice{% endcase %}"> {{ membership.status | capitalize }}</div>
          </div>
        </div>
      </div>
    </div>

    {% endfor %}  

{% elsif request.sorta_logged_in? %}

<p>'sorta_logged_in'</p>

{% else %}



test
{% endif %}


{% if page.headline.size > 0 %}
<h2 class="headline">{{ page.headline }}</h2>
{% endif %}

<div id="content">

  <div id="intro" class="intro">
    <div class="text-content">
      {{ page.basic.content }}
    </div>
  </div>

<h6>Example heading <span class="badge badge-secondary">New</span></h6>
    
<div class="alert alert-primary" role="alert">
  A simple primary alert—check it out!
</div>
<div class="alert alert-secondary" role="alert">
  A simple secondary alert—check it out!
</div>
<div class="alert alert-success" role="alert">
  A simple success alert—check it out!
</div>
<div class="alert alert-danger" role="alert">
  A simple danger alert—check it out!
</div>
<div class="alert alert-warning" role="alert">
  A simple warning alert—check it out!
</div>
<div class="alert alert-info" role="alert">
  A simple info alert—check it out!
</div>
<div class="alert alert-light" role="alert">
  A simple light alert—check it out!
</div>
<div class="alert alert-dark" role="alert">
  A simple dark alert—check it out!
</div>

<a href="#" class="badge badge-primary">Primary</a>
<a href="#" class="badge badge-secondary">Secondary</a>
<a href="#" class="badge badge-success">Success</a>
<a href="#" class="badge badge-danger">Danger</a>
<a href="#" class="badge badge-warning">Warning</a>
<a href="#" class="badge badge-info">Info</a>
<a href="#" class="badge badge-light">Light</a>
<a href="#" class="badge badge-dark">Dark</a>

<span class="badge badge-pill badge-primary">Primary</span>
<span class="badge badge-pill badge-secondary">Secondary</span>
<span class="badge badge-pill badge-success">Success</span>
<span class="badge badge-pill badge-danger">Danger</span>
<span class="badge badge-pill badge-warning">Warning</span>
<span class="badge badge-pill badge-info">Info</span>
<span class="badge badge-pill badge-light">Light</span>
<span class="badge badge-pill badge-dark">Dark</span>

  {% if page.tags_count > 0 %}
  <div class="page-tags">
    {% include "page_tags" with page %}
  </div>
  {% endif %}

  <div class="like-page">
    <strong>Share this page</strong>
    {% include "like_page" %}
  </div>

  {% if page.show_stream? %}
  {% include "page_stream" %}
  {% endif %}

</div>